html, body {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}

/* landing page styling below */
.name-title {
    height: 70%;
    width: 70%;
    display: block;
    margin: 0 auto;
    padding: 0;
}

.navbar {
    margin-top: -70px;
    text-align: center;
}

.buttons {
    list-style-type: none;
}

.index-li {
    display: inline;
    text-align: center;
    padding: 5px;
    margin: 0 2px 0;
    font-size: 50px;
    border: 2px solid black;
    text-decoration: none;
}

a.index-a:link, a.index-a:visited {
    text-decoration: none;
    color: black;
}

a.index-a:hover, li.index-li:hover {
    background-color: black;
    color: white;
}

/* about page styling below*/
.background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -100;
}

.sidebar {
    width: 40%;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: center;
}

#about-title {
    color: white;
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 100px;
}

.table {
    display: table;
    margin: 0 auto;
}

.about-li {
    width: 190px;
    text-align: center;
    padding: 5px;
    margin: 0 0 10px;
    font-size: 50px;
    color: white;
    border: 2px solid white;
    text-decoration: none;
}

.about-a:link, .about-a:visited {
    text-decoration: none;
    color: white;
}

.about-li:hover {
    background-color: white;
}

.about-li:hover .about-a {
    color: black;
}

.content {
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    right: 0;
    margin 0;
    background: rgba(255,255,255,0.8);
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.8) 5%);
    text-align: center;
    }

.introduction {
    width: 500px;
    height: auto;
    margin: 0 auto;
    font-size: 16px;
    position: relative;
    text-align: justify;
    top: 350px;
    
}

#hi {
    font-size: 50px;
    font-weight: bold
}

#work-hard {
    font-size 50px;
    font-weight: bold;
}

.profile {
    height: 48%;
    margin: 0 auto;
    position: relative;
    bottom: 290px;
}