html, body {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}

/* index.html styling below */

.name-title {
    height: 60%;
    width: 60%;
    display: block;
    margin: 80px auto 30px auto;
    padding: 0;
}

.navbar {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    text-align: center;
}

.buttons {
    list-style-type: none;
}

.index-li {
    display: inline;
    text-align: center;
    padding: 5px;
    font-size: 50px;
    border: 2px solid black;
    text-decoration: none;
}

a.index-a:link, a.index-a:visited {
    text-decoration: none;
    color: black;
}

a.index-a:hover, li.index-li:hover {
    background-color: black;
    color: white;
}

/* about.html styling below*/

.background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -100;
}

.sidebar {
    width: 40%;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: center;
}

#sidebar-title {
    color: white;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 100px;
}

.table {
    display: table;
    margin: 0 auto;
}

.sidebar-li {
    width: 190px;
    text-align: center;
    padding: 5px;
    margin: 0 0 10px;
    font-size: 50px;
    color: white;
    border: 2px solid white;
    text-decoration: none;
}

.sidebar-a:link, .sidebar-a:visited {
    text-decoration: none;
    color: white;
}

.sidebar-li:hover {
    background-color: white;
}

.sidebar-li:hover .sidebar-a {
    color: black;
}

.content {
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    right: 0;
    margin 0;
    background: rgba(255,255,255,0.8);
    /* fade content background */
    /* background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.8) 5%); */
    /*text-align: center;*/
    }

.introduction {
    width: 500px;
    height: auto;
    margin: 0 auto;
    font-size: 16px;
    position: relative;
    text-align: justify;
    top: 350px;
    
}

#hi {
    font-size: 50px;
    font-weight: bold
}

#work-hard {
    font-size 50px;
    font-weight: bold;
}

.profile {
    height: 48%;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* projects.html styling below */

.page-title {
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fa {
    font-size: 70px;
    color: black;
    transition: all .2s ease-in-out;
}

.fa:hover {
    transform: scale(1.1);
}

.fa-github {
    margin-top: 120px;
}

/* contact.html styling below */

.icons {
    letter-spacing: 5px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}