html, body {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}

* {
    box-sizing: border-box;
}

/* index.html styling below */

.name {
    height: 60%;
    width: 60%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
}

.navbar {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    text-align: center;
}

.buttons {
    list-style-type: none;
    padding: 0;
    font-size: 0;
}

.projects-li {
    margin-left: 2%;
    margin-right: 2%;
}

.index-li {
    width: 18%;
    display: inline-block;
    text-align: center;
    padding: 5px;
    font-size: 4vw;
    border: 2px solid black;
    text-decoration: none;
}

a.index-a:link, a.index-a:visited {
    text-decoration: none;
    color: black;
}

a.index-a:hover, li.index-li:hover {
    background-color: black;
    color: white;
}

/* about.html styling below*/

.background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -100;
}

.sidebar {
    width: 40%;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: center;
}

#sidebar-title {
    color: white;
    font-size: 80px;
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 15%;
}

.table {
    display: table;
    margin: 0 auto;
}

.sidebar-li {
    width: 110%;
    text-align: center;
    padding: 0;
    margin: 0 0 7%;
    font-size: 45px;
    color: white;
    border: 2px solid white;
    text-decoration: none;
}

.sidebar-a:link, .sidebar-a:visited {
    text-decoration: none;
    color: white;
}

.sidebar-li:hover {
    background-color: white;
}

.sidebar-li:hover .sidebar-a {
    color: black;
}

.content {
    position: absolute;
    width: 60%;
    height: 100%;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background: rgba(255,255,255,0.8);
    }

.introduction {
    width: 65%;
    height: auto;
    margin: 0 auto;
    margin-top: 3%;
    font-size: 16px;
    position: relative;
    text-align: justify;
    
}

#hi {
    font-size: 50px;
    font-weight: bold
}

#work-hard {
    font-size: 20px;
    font-weight: bold;
}

.photo {
    width: 65%;
    position: relative;
    margin: 0 auto;
    margin-top: 2%;
    display: block;
}

/* projects.html styling below */

.message-board-p {
    width: 65%;
    text-align: justify;
    margin: 0 auto;
    margin-top: 10%;
}

.microposts-p {
    width: 65%;
    text-align: justify;
    margin: 0 auto;
    margin-top: 6%;
}

.project-buttons {
    display: inline;
    text-align: center;
    padding: 0.5%;
    font-size: 30px;
    border: 2px solid black;
    text-decoration: none;
}

a.project-buttons:link, a.project-buttons:visited {
    text-decoration: none;
    color: black;
}

a.project-buttons:hover {
    background-color: black;
    color: white;
}

.extra {
    width: 65%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: justify;
}

.more {
    width: 65%;
    text-align: right;
    margin: 0 auto;
    margin-top: 20%
}

#techacademy {
    text-decoration: none;
    color: #5F7EC1;
}

#techacademy:hover {
    color: white;
}

/* contact.html styling below */

.contact-title {
    width: 50%;
    text-align: center;
    position: relative;
    margin: 0 auto;
    margin-top: 25%;
}

.icons {
    width: 50%;
    letter-spacing: 5px;
    position: relative;
    margin: 0 auto;
    margin-top: 5%;
    padding: 0;
    text-align: center;
}

.fa {
    font-size: 80px;
    color: black;
}

.fa-facebook-square:hover {
    color: #3B5998;
}

.fa-envelope:hover {
    color: #dd4b39;
}

.fa-github-square:hover {
    color: #6e5494;
}

@media only screen and (max-width: 950px) {
    .name {
        height: 80%;
        width: 80%;
    }
    
    .index-li {
        width: 24%;
        font-size: 5vw;
    }
}

@media only screen and (max-width: 500px) {
    .name {
        height: 100%;
        width: 100%;
    }
    
    .index-li {
        width: 90%;
        font-size: 12vw;
        display: list-item;
        margin: 0 auto;
        margin-top: 5%;
    }
}