html {
    margin: 0;
    padding: 0;
}

.name {
    height: 70%;
    width: 70%;
    display: block;
    margin: 0 auto;
}

.navbar {
    margin-top: -70px;
    text-align: center;
}

.buttons {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    text-align: center;
    padding: 5px;
    margin: 0 2px 0;
    font-size: 50px;
    font-family: 'Muli', sans-serif;
    border: 2px solid black;
    text-decoration: none;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

a:hover, li:hover {
    background-color: black;
    color: white;
}